section {
	height: 100vh;
}

.white {
	color: white;
}

.raleway {
	font-family: 'Raleway', sans-serif;
}

.oxygen {
	font-family: 'Oxygen', sans-serif;
}

.title {
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}

.secondary {
	width: 50%;
	font-size: 65px;
	text-transform: uppercase;
	color: #404040;
	text-align: center;
	padding: 5%;
	margin: 0 auto;
}

.secondary p {
	font-size: 30px;
	text-transform: none;
	padding-top: 5%;
}

/******hero********/

.banner {
	display: flex;
	align-items: center;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,.4) 100%, transparent), url("assets/maldives.jpg") no-repeat bottom;
	background-size: cover;
}

.main {
	/*z-index: 3;*/
	margin-top: 40%;
	font-size: 65px;
}

.sub {
	font-size: 30px;
	margin-top: 40%;
}

.fa-arrow-circle-down {
	font-size: 50px;
	padding-top: 5%;
	transition: all .2s ease-in-out;
}

.fa-arrow-circle-down:hover {
	transform: scale(1.3);
}
/******vacation********/

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 98%;
	margin: 0 auto;
	padding-top: 3%;
}

.sub-photo {
	width: 100%%;
	height: 45vh;
	transition: .3s ease;
}

.sub-photo:hover {
  opacity: 0.6;
}

.img-container p {
	text-align: center;
	font-size: 30px;
	padding-top: 2%;
	color: #696969;
	display: none;

}

.img-container {
	position: relative;
}

.img-container:hover  p {
	display: block;
}


